/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/


body {
	background-color: #bdc3c7;
	margin: auto;
	margin-left: 50px;
	margin-top: 100px;
	
}	



.hlavicka{
 margin:0;
 width:300px;
 height:204px;
 display:flex;
}



h1{
	color:white;
	font-family: 'Montserrat', sans-serif;
	padding-top: 0px;
	font-size: 30px;
	margin:0;

}



.obsah {
	background-color:#31363b;
	color:white;
	font-family: 'Source Sans 3', sans-serif;
	font-size: 18px;
	width: 300px;
	height: 450px; 
	margin:0;
	padding:20px;
	display:flex;
	flex-direction: column;
	
}

.foto {
	width: 300px;
	margin:0;
	padding:0;
	
}	
	

.logo {
	border-radius: 50%;
	position: absolute;
	left:270px; top: 280px;
	margin: 0;
	padding: 0;
	background-color: #b92e81;
	

}

button{
	padding:0;
	margin:0;
	background-color:#31363b;
	height: 50px;
}

.rosa,
.pink{
	flex-basis: 150px;
	background-color: #3f464d;
}

.odkazy{
	display:flex;
	flex-direction: row;
    padding: 0px;
	list-style: none;
	margin:0;
	background-color: #bdc3c7;
	
   
}

.odkazy a{
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 16px;
	text-transform: uppercase;
	padding:0;
	margin:0;
	

}

.ananas{
	display: flex;
	flex-direction: column;
	flex-basis: 300px;
	flex-shrink: 0;
	flex-wrap: wrap;
	background-color: #bdc3c7;
	
	

}

.portfolio{
	padding:0;
	flex-grow:1;
	margin:0;
	flex-shrink: 0;
	
	
}

.a portfolio{
	flex-basis:300px;
	
	
}

.lime:hover, .menu a:focus, .menu a:active {
	background-color:#e74c3c;
	border: 1px;
}

.site{
 display: flex;
 flex-direction: row;
 flex-shrink: 0;
 
 

}


.facebook{
	
	margin:0;
	flex-grow: 1;
	flex-shrink: 0;	
}

.rosa:hover, .menu a:focus, .menu a:active {
	background-color:#3b5998;
	border: 1px;
}



.twitter{

	margin:0;
	flex-grow: 1;
	flex-shrink: 0;
}

.pink:hover, .menu a:focus, .menu a:active {
	background-color:#1da1f2;
	border: 1px;

} 
