/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/


body {
	background-color: #bdc3c7;
	margin-left: 20px;
	
}

.hlavicka{
 margin:0;
 width:300px;
 height:204px;
 display:flex;

}



h1{
	color:white;
	font-family: 'Montserrat', sans-serif;
	padding-top: 0px;
	font-size: 30px;
	margin:0;

}



.obsah {
	background-color:#31363b;
	color:white;
	font-family: 'Source Sans 3', sans-serif;
	font-size: 18px;
	width: 300px;
	height: 450px; 
	margin:0;
	padding:20px;
	display:flex;
	flex-direction: column;
}

.foto {
	width: 300px;
	margin:0;
	padding:0;
	
}	
	

.logo {
	border-radius: 50%;
	position: absolute;
	left:245px; top: 187px;
	margin: 0;
	padding: 0;
	background-color: #b92e81;
	

}
	

.odkazy{
	display:flex;
	flex-direction: row;
    padding: 0px;
	list-style: none;
	margin:0;

   
}

.odkazy a{
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	padding:0;
	margin:0;	

}



.site{
 display: flex;
 flex-direction: row;
 
}

.facebook{
	flex-basis: 150px;
	margin:0;
}

.twitter{
	flex-basis: 150px;
	margin:0;
}